:root{
    --green:rgb(46, 219, 46);
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,1);

    --border: 2rem solid rgba(0,0,0.1);
--outline: 0.1rem solid rgba(0,0,0.1)
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    transition: all 0.2s linear;

}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;

}
body{
    background: #eee;
}
section{
    padding:2rem 9%;
}

.heading{
    text-align:center;
    padding:3rem 0;
    font-size:3rem;
    padding-bottom: 3rem ;
    color:var(--black)
}

.heading span{ 
  background-color: var(--green) ;
  color:white;
  display: inline-block;
  padding:.5rem 2rem;
  clip-path:polygon(100% 0,93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    border:.2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor:pointer
    background: none
}

.btn:hover{
    background-color:var(--green) ;
    color:#fff;
}
/*header section*/
.header{
    border:0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight:bold;
}

.header .logo i {
    color: var(--green);
}

.header .navbar a{
     font-size: 1.7rem;
 margin: 1rem;
 color: var(--black);    
}

.header .navbar a:hover{
color: var(--green);
}

.header .icons div{
    border: 0px solid;
    height: 3.5rem;
    width: 3.5rem;
     line-height: 3.5rem;
     border-radius: 0.5rem;
     background: rgb(248, 246, 246);
     color: var(--black);
     font-size: 1.7rem;
     margin-right: .5rem;
     text-align: center;
}

.header .icons div:hover{
    background-color: var(--green);
    color: #fff;
}

#menu-btn{
    display: none;
}
     
.header .navbar.active{
right:2rem;
transition: .5sec linear;
}


.header .search-form{
    border: 0px solid;
    position: absolute;
     top: 110%;
    right: -110%;
    width: 50rem;
     height: 4.5rem;
     background: white;
     border-radius:.5rem;
     overflow:hidden;
     display:flex;
     align-items:center;
     box-shadow:var(--box-shadow);   
}

.header .search-form.active{
    right: 2rem;
    transition: .3s linear;
}


.header .search-form input{
    height:100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
color:var(--green);
}


.header .shopping-cart
{
    position: absolute;
    top: 110%;
    right:-110%;
    padding: 1rem;
    border-radius: .5rem;
    width: 32rem;
    background: white;
    border-shadow:var(--box-shadow);
}

.header .shopping-cart.active{
    right:2rem;
    transition: .3s linear;
}


.header .shopping-cart .box{
    display:flex;
    align-items: center;
    gap: 1rem;
    position:relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
height: 9rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%;
    right:2.5rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
    color: var(--black);
padding:1rem;
    font-size: 1.7rem ;
    text-align: center;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem ;
}


.header .shopping-cart .box .content .quantity{
padding-left:1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color: var(--black)
}

.header .shopping-cart .btn{
    text-align: center;
    margin:1rem 0;
    display:block;
}


 .header .login-form{
 border:0px solid;
position: absolute;
top:110%;
right:-110%;
box-shadow:var(--box-shadow);
padding:2rem;
border-radius:.5rem;
background: #fff;
text-align:center;
width:25rem;
} 

.header .login-form.active{
    right:5rem;
    transition: .3s linear;
}



.header .login-form .h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
}

.header .login-form .box{ 
border:0px solid;
margin:.7rem 0;
background: #eee;
border radius:.5rem;
padding:1rem;
font-size:1rem;
color:var(--black);
text-transform:none;
width:100%
}


.header .login-form p{
    padding:.5rem;
    font-size:1.2rem;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--green);
    text-decoration: underline;
}
/*home*/
.home{
    display:flex;
    justify-content: center;
    border: 0px solid;
    background: url(./images/WhatsApp\ Image\ 2023-11-24\ at\ 00.44.15_0602930f.jpg) no-repeat;
    background-position: center;
    padding-top:20rem;
    padding-bottom:5rem;

}

.home .content {
 margin-right:45%;
 margin-bottom: 15%;
text-align: center;
}

.home .content h3{
    color:var(--black);
    font-size: 3rem;

}

.home .content h3 span{
    color:var(--green);
}

 .home .content p{
    font-size:1.5rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.8;
 }

/*features*/

.features .box-container{
    border:0px solid;
    display:grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap:1.5rem;
}

.features .box-container .box{
    border:0px solid;
    padding:3rem 2rem;
    background: white;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align:center;
    box-shadow:var(--box-shadow);
}

.features .box-container .box:hover{
    box-shadow: 1px 1x 10px 4px var(--green);
}

.features .box-container .box img{
    margin:1rem 0;
    height:15rem;

}

.features .box-container .box h3{
    font-size:2.5rem;
    line-height: 1.8;
    color:var(--black);
}

.features .box-container .box p{
    font-size:1.5rem;
    padding:1rem 0;
    line-height:1.8;
    color:var(--light-color);
}

/*products*/
.products .products-slider{
    border:0px solid;
    padding:1rem;
}

.products .products-slider:first-child{
    margin-bottom: 2rem;
}

.products .products-slider .box{
    border:0px solid red;
    background: white;
    border-radius:.5rem;
    text-align:center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow); 
    transition:linear
}

.products .products-slider .box:hover{
    box-shadow: 1px 1x 10px 4px var(--green);
}

.products .products-slider .box img{
    height:20rem;
}

.products .products-slider .box h1{
    font-size: 2.5rem;
    color:var(--black);
}

.products .products-slider .box .price{ 
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .products-slider .box .stars i{ 
    font-size: 1.7rem;
    color: orangered;
    padding: .5rem 0;
}

/*catorgories section*/
.categories .box-container{
    border:0px solid;
    display:grid;
grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
gap:1.5rem;
}

.categories .box-container .box{
    padding: 3rem 0;
background: white;
outline: var(--outline);
border-radius: .5rem;
box-shadow:var(--box-shadow);
outline-offset: -1rem;
text-align: center;
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height:15rem;
}

.categories .box-container .box h3{
    font-size: 3rem ;
    line-height: 1.8;
    color: var(--black);
}

.categories .box-container .box p{
    font-size: 1.7rem ;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/*review*/

.review .review-slider{
    border: 1px solid;
    padding:1rem;
}

.review .review-slider .box{
    padding: 3rem 0;
    background: white;
    outline: var(--outline);
    border-radius: .5rem;
    box-shadow:var(--box-shadow);
    outline-offset: -1rem;
    text-align: center;
    transition: .2s linear;

}

.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);    
}

.review .review-slider .box img{
height:10rem;
    width:10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    color: var(--black);
    font-size: 1.5rem;
padding-bottom: 2.2rem;
}

.review .review-slider .box .stars i{
    color: orangered;
    font-size: 1.7rem;
}

/*footer*/

.footer{
    background-color: white;
}

.footer .box-container{
    border:0px solid;
    display:grid;
grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
gap:1.5rem;
}

.footer .box-container .box h3{
font-size: 2.5rem;
color: var(--black);
padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
padding: .5rem ;
color: var(--green);
}

.footer .box-container .box .links:hover i{
    padding: 2rem;
}

.footer .box-container .box p{
font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    border:0px solid;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    text-align:center
}

.footer .box-container .box .share a:hover{
    background: var(--green);
    color: white;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem;
    padding: 1rem;
    border: .5rem;
    background-color: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 7rem;
}



/**media queires*/
@media (max-width:991px)
{
    html{
    font-size: 55%;
    }

.header{
    padding:2rem;
}
section{
    padding:2rem;
}
}

@media (max-width:768px)
{
    #menu-btn{
    display: inline-block;
}
.header .search-form{
    width:90%; 
}
    .header .navbar{
     position:absolute;
     top:110%;
     right:-110%;
     width:30rem;
     box-shadow: var(box-shadow);
     background: #fff;
     border-radius:.5rem;
    }
    .header .navbar a{
        font-size:2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px)
{
    html{
    font-size: 30%;
    }
    .heading{
        font-size:2.5rem;
    }
}

